.controls-container{
  font: 100% Verdana;
  width: 28%;
  height: 225px;
  float:right;
  margin-left: auto;
  margin-right: 0;
  padding-bottom: 20px;
  border: 1px solid #d4d4d4;
  background-color: #f1f1f1;
  text-align: center;
}

.controls-container > h1, h2, h3{
  color:#4CAF50;
}

.selected-node > svg{
  width: 0;
  height: 0;
  background-color: #f1f1f1;
}
.selected-node{
  text-align: center;
  display: inline-block;
}

.button{
  font: 100% Verdana;
  margin: 4px;
  color:#ffffff;
  background-color: #04AA6D;
}

.option-container > input{
  box-sizing: border-box;
  width: 80%;
}
