svg{
  height: auto;
  width: 100%;
  padding: 20px;
  overflow:visible;
  background-color: #F1F1F1;
}

.tree-container{
  width: 70%;
  height: 100%;
  display: flex;
  float: left;
  line-height: 0;
  border: 1px solid #d4d4d4;
}
